page {
  height: 100%;
}
.setting {
  height: 100%;
  background: #fbfbfb;
  color: #1b1b1b;
  text-align: center;
  overflow: hidden;
}

.share {
  border: none;
  height: 80px;
  margin-top: 40px;
  border-bottom: 3px solid #e4e4e4;
  line-height: 80px;
  background: #fff;
  &::after{
    border: none;
  }
  .text {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

.sug {
  position: fixed;
  bottom: 45px;
  left: 0;
  width: 100%;
  color: #455867;
  font-size: 24px;
  background: #fbfbfb;
  &::after{
    border: none;
  }
}