@import '../../assets/style/common.scss';

.detail {

}

.p-40 {
  padding: 0px 40px;
  box-sizing: border-box;
}
.category {
  height: 80px;
  background: $bgColor;
  color: #fff;
  line-height: 80px;
}